<h1>Login to Game Logger</h1>

<form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" placeholder="username" name="username"><br/><br/>

    <label for="username">Password:</label>
    <input type="password" id="pass" placeholder="password" name="password"><br/><br/>
    <input type="submit" value="Log In">
</form>

<br/><a href="/signup">Sign Up</a>