<h1>Welcome to Index</h1>

<p>Show current games</p>
<a href="/games/show">Show</a>

<p>Click on the link below to add a new game to your log</p>
<a href="/games/new">Add A Game</a>

<form action="/logout" method="post">
  <br><input type="submit" name="logout" value="Log Out" >
</form>

