<h1>Welcome to Index</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Console</th>
    <th>Status</th>
  </tr>
  <% @games.each do |game|%>
  <tr>
    <td><%= game.title %></td>
    <td><%= game.console %></td>
    <td><%= game.status %></td>
    <td><a href="/games/<%= game.id %>/edit">Edit</a></td>
  </tr>
  <% end %>
</table>

<br>
<a href="/games/new"><input type="submit" name="add_game" value="Add Game" ></a>

<form action="/logout" method="post">
  <br><input type="submit" name="logout" value="Log Out" >
</form>

