<h1>Welcome to New</h1>

<form action="/games" method="post">

<table>
  <tr>
    <th>Title</th>
    <th>Console</th>
    <th>Status</th>
  </tr>
  <tr>
    <td><input type="text" name="title" placeholder="title"></td>
    <td><input type="text" name="console" placeholder="console"></td>
    <td><input type="text" name="status" placeholder="status"></td>
  </tr>
</table>
<br>
    <input type="submit" value="Create">
</form>

<br>
<a href="/games"><input type="submit" name="back_home" value="Back To Home" ></a>

<form action="/logout" method="post">
  <br><input type="submit" name="logout" value="Log Out" >
</form>