<h1>Welcome to Show</h1>

<p>Click on the link below to add a new game to your log</p>
<a href="/games/new">Add A Game</a>

<form action="/logout" method="post">
  <br><input type="submit" name="logout" value="Log Out" >
</form>