<h1>Welcome to Show</h1>


<a href="/games"><input type="submit" name="back_home" value="Back To Home" ></a>

<br><br>
<a href="/games/new"><input type="submit" name="add_game" value="Add Game" ></a>

<form action="/logout" method="post">
  <br><input type="submit" name="logout" value="Log Out" >
</form>