<html>
    <head>
        <title>Game Logger - Keep up with your backlog</title>
    </head>
      <h1>Welcome to Game Logger!</h1>
      <h3>Please <a href="/login">Login</a> or <a href="/signup">Sign Up</a></h3>
</html>