<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Game Logger</title>
</head>
<body>

    <%= yield %>

    <footer class="branding">
       <br/><small>&copy; 2020 <strong>Game Logger</strong></small>
    </footer>
</body>
</html>