<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <title>Game Logger </title>
    <link rel="stylesheet" href="css/main.css">
    <style>
    #game_table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #game_table td, #game_table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #game_table tr:nth-child(even){background-color: #f2f2f2;}

    #game_table tr:hover {background-color: #ddd;}

    #game_table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
    </style>    
    </head>
    <body>

        <%= yield %>

        <footer class="branding">
        <br/>
        <small>&copy; 2020 <strong>Game Logger</strong></small>
        </footer>
    </body>
</html>